/* Layout.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 화면 전체 높이를 차지 */
}

.content {
    flex: 1; /* 콘텐츠 영역이 남은 공간을 채우도록 설정 */
    padding: 20px; /* 여백 추가 */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
